/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }

/********** FONT *********/


@font-face {
    font-family: 'notokr-regular';
    src: url('https://img.khan.co.kr/spko/fonts/notokr-regular.eot'),
		 url('https://img.khan.co.kr/spko/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('https://img.khan.co.kr/spko/fonts/notokr-regular.woff') format('woff'),
         url('https://img.khan.co.kr/spko/fonts/notokr-regular.ttf') format('truetype'),
         url('https://img.khan.co    font-size: 1rem;.kr/spko/fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('DungGeunMo.eot');
    src: url('DungGeunMo.eot?#iefix') format('embedded-opentype'),
         url('DungGeunMo.woff') format('woff'),
         url('DungGeunMo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*****lE 경고문*******/

.backLayer {background-color:#000;  filter: alpha(opacity = 70); width:100%;height:100%; position: absolute; top: 0px; left: 0px; z-index: 999;}
.warning_area { margin: 0 auto; width: 100%; height: 100%; }
.warning {background:#444444; padding:20px;}
.warning_area h2 { margin-bottom: 15px;}
.warning_area p { margin-bottom: 30px;}
.warning_area p,.warning_area h2 { color: #fff; }
.warning_area p a { color: #fff; text-align: center; font-size: 14px; text-decoration: none; }
.warning_area p:hover a{color: #ff9320;}
.closeBtn2 {width: 30px;height: 30px;background-image: url("http://img.khan.co.kr/spko/storytelling/2016/anniversary/close_btn.png");background-size: 30px 30px;background-position: top;cursor: pointer;}
.warning_area p.keepBtn , .warning_area p.updateBtn{ text-align: center; width: 150px;height: 35px;line-height: 35px;margin: 0px auto;cursor: pointer;display: block;border: 1px solid white; padding: 0px;margin-bottom: 10px;margin-top: 20px;}
.warning_area .keepBtn:hover , .warning_area p.updateBtn:hover {color: #ff9320;border: 1px solid #ff9320;}
.ieBox{position:fixed; z-index:1000; width: 500px; height: 250px; top:50%; left: 50%; margin-top: -125px; margin-left: -250px;}


/*-------------------------------------*/
/******** 전체 기본 CSS - PC 기준********/
/************* 2021.12 YJ *************/
/*-------------------------------------*/

html { width:100%; height:100%; height:100vh; background: #111; }
body {  position: relative; background: #111; letter-spacing: -0.02em; font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; }
body.fixed { height:100vh; overflow-y: hidden; }
body { height:100vh; }
.after-load, .container {  height:100%;}

/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh; background: #111;position: fixed; z-index: 100; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; position: absolute; top: 50%;margin-top: -130px; }
.loader-frame { margin: 0 auto; position: relative;width: 80px; height: 80px;}
.loader-frame div { border-radius: 2px; display: inline-block; position: absolute; left: 8px; width: 16px; background: #f7bb00; animation: loader-frame 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;}
.loader-frame div:nth-child(1) { left: 8px;  animation-delay: -0.24s;}
.loader-frame div:nth-child(2) { left: 32px; animation-delay: -0.12s;}
.loader-frame div:nth-child(3) {left: 56px; animation-delay: 0;}
@keyframes loader-frame {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.loading-ment { text-align: center;  font-family: 'DungGeunMo'; color: #f7bb00; font-size: 15px;letter-spacing: 2px;}
.after-load { display: block; opacity:0;}
.loading-title-img { margin-bottom: 10px; }
.loading-title-img img { display: block; margin: 0 auto; max-width:150px; display:none;}



/* Header */
.interactive-header { position: fixed;padding: 0px 10px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height: 45px; z-index: 100;}
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; }
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; height: 100%; box-sizing: border-box;padding: 8px 0;}
.interactive-header .khan_btn img { width:100px; height: auto; }
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.interactive-header .page-title {  color: #111;width: 100%; text-align: right;font-size: 14px;  line-height: 40px; box-sizing: border-box; padding-right: 0px; font-weight: 500;}
.interactive-header .page-title .title-text {display: inline;}
.interactive-header .page-title .global-navi {display: inline;}
.interactive-header .page-title .global-navi span { opacity: 0.5; }
.interactive-header .page-title .global-navi span.on { opacity:1;  color: #fbcd2f; background: none; pointer-events: none; cursor: default;}
.interactive-header .page-title .global-navi span:hover { opacity:1; }
.interactive-header .page-title .global-navi span a { color:#fff;box-sizing: border-box;padding: 0px 4px; cursor: pointer; margin: 0px 4px; background: #3b3b3b; }
.interactive-header .page-title .global-navi span.on a { color: #fbcd2f;  }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

.wrap { width:100%; height:100%; }
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("https://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("https://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }

.game-holder { font-family: 'DungGeunMo'; }
.script-width { width: 1200px; height: 800px;margin: 0 auto; position: relative; }
.game-holder-inner-wrapper { width:100%; height:100%; position: relative; }
.opening {width:100%; height:100%; position: relative;}
.each-s-full{width:100%; height:100%; position: relative;}
.opening-wrap {width:100%; height:100%; position: relative;}
.game-title-holder { position: relative;width: 45%;margin: 0 auto; transform: scale(1); opacity: 1; transition:all 1.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s; }
.game-title-holder .symbol {  position: absolute; width:100%;    height: 100%; }
.game-title-holder .symbol img {width: 50%; position: relative;left: 50%; margin-left: -25%; top: -55%;}
.game-title-holder .opening-title { position: relative; } 
.game-title-holder-zoom { transform: scale(1.5); opacity: 0; }

.opening-title img {width: 100%; display:block; margin: 0 auto;} 
.opening-el {position: relative;top: 25%;z-index: 2;}
.title-zoom {}
.btn-holder { margin: 0 auto;position: relative;}
.opening .btn-holder { margin-top:10%;}
/* .btn-holder .btn { font-family: 'Noto Sans KR'; transition:all 0.3s ease 0s; width:25%; margin: 0 auto; position: relative; top: 0px; text-align: center; color:#fff; color: rgba(255,255,255,0.85); cursor: pointer; border-radius: 7px;     font-size: 1.2rem;font-weight: bold; padding: 2% 0;background: linear-gradient(150deg,#ff991b 26%,#d81c00);box-shadow: 0px 0px 10px rgb(110 0 0 / 50%);}
.btn-holder .btn:hover { box-shadow: 0px 0px 10px rgb(110 0 0 / 80%);color:#fff;background:rgba(255,255,255,0.2); } */
.btn-holder .btn { font-family: 'DungGeunMo', 'notokr-regular';  transition:all 0.3s ease 0s; width:25%; margin: 0 auto; position: relative; top: 0px; text-align: center; color:#111; 
 background: url("../img/position_back.png") no-repeat; background-size: 100% 100%;  cursor: pointer;  font-size: 1.3rem;font-weight: bold; padding: 2% 0; }
.btn-animation::after {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;
z-index: 1;border-radius: 7px; opacity: 0;transition: all 0.3s;border: 2px dotted rgba(255,255,255,0.9);transform: scale(1.2,1.2);box-sizing: border-box; }
.btn-animation:hover::after {opacity: 1;transform: scale(1,1);}
.opening-back { opacity: 0.85; width:100%; height:100%; position: absolute; top: 0; left:0; z-index:1;   
/* background: url("../img/main-game-cover-graphic.jpg") no-repeat; background-size: cover; 
background: rgba(255,255,255,0.5);background: radial-gradient(#ffb479, transparent); */ }

.opening-background-list { width:100%; height:100%; position: absolute; top:0; left:0; }
.opening-background-list > div {width:100%; height:100%; position: absolute; top:0; left:0; display:none;   }
.opening-background-list .back-01 {    overflow: hidden;  background: url("../img/main-game-cover-graphic-only-back.png") no-repeat; background-size: cover; background-position: center bottom;  display:block; }
.opening-background-list .back-01 > div { position: absolute; bottom: 0; width: 20%; left: 50%;}
.opening-background-list .back-01 .cand-lee {  width: 20%; margin-left: -40%; }
.opening-background-list .back-01 .cand-yoon { width: 27%; margin-left: -20%; }
.opening-background-list .back-01 .cand-sim { width: 21%;  margin-left: 5%; }
.opening-background-list .back-01 .cand-ahn { width: 24%;  margin-left: 20%; }
.opening-background-list .back-01 > div > img { width:100%; position: relative; opacity: 0;  bottom: -300px;}
.opening-background-list .back-02 {background: url("../img/opening-stage-each-party.png") no-repeat; background-size: cover; background-position: center center; }
.opening-background-list .back-03 {}

.opening-stage {display:none;}
.opening-stage-el {position: relative;top: 15%;z-index: 2;}
.opening-stage-back {width:100%; height:100%; position: absolute; top: 0; left:0; z-index:1; /* background: url("../img/opening-stage-each-party.png") no-repeat; background-size: cover; */ }
.ment-box  {width: 60%;left: 50%; margin-left: -30%;margin-bottom: 3%;  position: relative;  z-index: 4; display:none;}
.ment-box .box-outer {   width: 100%;height: 100%; /*background: rgb(101 84 73 / 30%); */box-sizing: border-box; padding: 10px; }
.ment-box .box-bg { width: 100%;  height: 100%; background: #fff; background:url("../img/ending-result-back.png") no-repeat; background-size: 100% 100%; box-sizing: border-box;}
.ment-box .box-inner { box-sizing: border-box;padding: 7%; width: 100%; height: 100%; /*border: 1px solid #222;*/}
.ment-box .box-inner .box-txt {  background: rgba(255,255,255,0.5); box-sizing: border-box; padding: 1% 4%; }
.ment-box .box-inner .box-txt p {  margin: 13px 0; font-size: 1.1rem;line-height: 1.7rem; font-weight: 400;color:#26262a;word-break: keep-all; text-shadow: 2px 1px 0px rgba(255,255,255,0.7); 
font-family: 'Noto Sans KR'; font-weight: bold;opacity: 0;} 
.ment-box .box-inner .box-txt p.ex {font-weight: bold; font-family: 'DungGeunMo', 'notokr-regular'; }
.ment-box .box-inner .box-txt p.strong { color: #ca7d00; font-weight: bold;text-align: center; font-size: 1.2rem; }
.opening-stage .btn-holder { display:none;}
.opening-stage-el--01 { display:block;}
.opening-stage-el--02 {display:none;top: 35%;}
#OPENING_START { display:none; }
.make-id-paenl {  width: 100%; box-sizing: border-box;padding: 5%;max-width: 50%; margin: 0 auto; background: url("../img/alert-back.jpg") no-repeat;  background-size: 100% 100%;}
.make-id-paenl .desc { text-align: center;box-sizing: border-box; margin: 0 auto; margin-bottom: 5%; color: #111; text-shadow: 2px 1px 0px rgb(255 255 255 / 70%);}
.make-id-paenl .desc p {font-size: 1.2rem;}
.make-id  { position: relative; width:100%; margin: 0 auto;box-sizing: border-box;padding: 2%;background:#111; display: block;  color: #fff;}
.make-id .head { position: absolute; width:100px; top: 0px; left: 0px;color:#fff; height: 100%;box-sizing: border-box;padding: 2%;display: inline-block;text-align: center;}
.make-id .chat-input-txt { vertical-align: top; font-family: 'DungGeunMo', 'notokr-regular';background: none;border: none;color: #a7a7a7;
width: 100%; box-sizing:border-box;display: inline-block; padding-right:100px; font-size: 1.25rem; }
.make-id .confirm-btn { position: absolute; top: 0; right:0;height: 100%; display: inline-block; text-align: center; box-sizing: border-box;padding: 0px 20px;  cursor: pointer; font-family: 'DungGeunMo', 'notokr-regular'; font-size: 1.4rem;}

.main-stage { opacity:0; pointer-events: none; z-index:-1;position: absolute; top: 0; left:0;}
.main-stage-on { z-index:1; pointer-events: auto; }
.main-stage-wrapper {width:100%; height:100%; position: relative;}
.game-screen-square-holder { position: relative;}
.game-screen-square { position: relative;  margin: 0 auto;background: #111;box-sizing: border-box;  overflow: hidden;}
.square-blank { height:100%;}
.game-map {}
.each-panel {}
.screen-left-panel { position: absolute; left:0; top: 0; height: 100%;}
.map-info { }
.map-panel {cursor: pointer; box-sizing: border-box; padding: 20%; background: url("../img/map_back.png") no-repeat;width:100%; background-size: 100% 100%;}
.map-panel > img { width:70%; margin: 0 auto; display:block; }
.map-panel > p { font-size: 1.2rem; text-align: center; width: 100%; margin: 0% auto;margin-top: 10%;}
.map-panel:hover > p { background:#111; color:#fff;}

.user-info { color: #fff;  box-sizing: border-box; padding:5%; background: #000000; font-size: 1.4rem;display: none;}
.screen-right-panel { position: absolute; right:0; top: 0;    height: 100%;}
.location-info {position: relative; right: 1%; margin-top: 5%;}
.location-info .map-flag { box-sizing: border-box; padding: 5%; background: #fbcd2f;font-size: 1.4rem;}
.flag-panel {box-sizing: border-box; padding: 10%; background: url("../img/position_back.png") no-repeat;width:100%; background-size: 100% 100%;}
.flag-panel .position-top {font-size: 1rem; text-align: left; } 
.flag-panel .position-bottom {font-size: 1rem;text-align: left; margin-top: 3%;}

.game-opt-setting {position: absolute; left: 5%; bottom: 0%; width: 100%;}
.sound-panel {box-sizing: border-box; padding: 10%; background: url("../img/panel-back.png") no-repeat;width:100%; background-size: 100% 100%;}
.sound-panel p { }
.sound-panel p span { display:inline-block; padding: 0 1%; cursor: pointer;font-size: 1rem;}
.sound-panel p span:hover{ background:#111; color:#fff;}

.select-history {  position: absolute; bottom: 0; left: 2%;height: 70%;    width: 100%;}
.select-history .history-panel { box-sizing: border-box; padding: 10%; background: url("../img/quest_list_back.png") no-repeat;width: 140%;height:100%; background-size: 100% 100%;}
.select-history .index-number { text-align: right; font-size: 1.4rem;box-sizing: border-box; padding: 5%;  color: #111;}
.select-history .index-number .now { font-size: 2rem; margin-right: 5px;font-weight: bold;color: #691f00;}
.select-history .index-number .slash { font-size: 1rem; opacity: 0.5; }
.select-history .index-number .total { margin-left: 1%; }
.select-history ul { box-sizing: border-box; padding: 0 5%;}
.select-history ul li {  font-size: 1rem; margin: 5% 0; background: rgba(255,255,255,0.3); box-sizing: border-box; padding: 3%;border-radius: 5%; cursor: pointer; box-shadow: 2px 2px 0px #895b00;}
.select-history h3 {text-align: center; font-size: 1.2rem; box-sizing: border-box; color: #111;}
.select-history ul li .done-icon { display:none; font-size: 0.9rem; box-sizing: border-box; margin-right:3%;  background:#111; color:#fff; padding:0 2%; }
.select-history ul li.done {  cursor: default; pointer-events: none;box-shadow: none;background: none;opacity: 0.6; }
.select-history ul li.done .done-icon { display:inline-block;} 
.select-history ul li:hover {background: rgba(255,255,255,0.7);}



.game-map { width: 100%; height: 100%; position: absolute; top:0px; left: 0px; }
.game-map .map-img { transition:all 0.3s ease 0s; position: relative; top: 0; left: 0;; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none; }
.game-map .map-el-holder { transition:all 0.3s ease 0s; position: absolute; top: 0; left: 0;}
.map-el { position: absolute; }
.map-el img { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;}

.building {  }
.player-holder { width: 100px; height: 100px;  position: absolute; top: 0%; left: 0; }
.player img {  position: relative; top: -0.8rem; width: 100%; height: 100%; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;}
.player-holder .userName{ position: absolute; font-size: 1.2rem;  top: -1.7rem;text-align: center;  text-shadow: 1px 1px 1px #fff;width: 100%; }
.map-npc { cursor: pointer; }
.map-npc img { width:100%;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;  }
.map-button { cursor: pointer; }
.map-button img { width:100%;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;  }
.btn-01 img{ position: relative; right:5%; animation: next 1s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
.btn-01 { display:none;}
@keyframes next {
	0% {
		right: 8%; 
	}
	100% {
		right: 5%; 
	}
}

.question-icon { position: absolute; width: 50px; top: 0rem; left: 50%;margin-left: -25px;}
.question-icon img { animation: jump 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
.npc-02 .question-icon {  top: -1.5rem;margin-left: -1rem; }
.npc-01 { display:none; }
.npc-01 .question-icon {  top: -1.8rem; }
.npc-04 .question-icon {  top: -1.5rem;margin-left: -1rem; }

.map-npc-done { cursor: default; pointer-events: none; }
.map-npc-done .question-icon { display:none; }

.portal { width: 60px; }
.portal img { width:100%; display:block; margin: 0 auto; }
.portal-b2 {}

.game-frame { position: absolute; z-index: 9999;}
.game-frame img { display: block;}
.frame-top {  width:100%; top:0; left:0; right:0; }
.frame-top img { width:100%; vertical-align: top;}
.frame-bottom { width:100%; bottom: 0; left:0; right:0; }
.frame-bottom img { width:100%; vertical-align: bottom;}
.frame-left { height:100%; top:0; bottom: 0; left:0; }
.frame-left img { height:100%; }
.frame-right { height:100%;top:0; bottom: 0; right:0; }
.frame-right img { height:100%; }

.game-alert { display:none; position: absolute;  top: 0; left: 0;  width: 100%;  height: 100%; z-index: 9999;background: rgba(0,0,0,0.3); backdrop-filter: blur(2px); }
.game-alert .alert-border { position: absolute; width: 50%; left: 50%; top: 50%;  margin-left: -25%; margin-top: -15%; background: url("../img/alert-back.jpg") no-repeat; background-size: 100% 100%;}
.game-alert .alert-border .alert--basic { box-sizing:border-box; padding:10%; }
.game-alert .alert-border .alert--basic p { margin: 2% 0; font-weight: bold; }
.game-alert .alert-border .alert--basic p span.semi {  font-size: 0.8rem; opacity: 0.5;}
.game-alert .alert-border .alert--basic button { font-family: 'DungGeunMo', 'notokr-regular'; width: 50%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1rem; display: block;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 3%; margin: 5% auto 0px;}
.game-alert .alert-border .alert--basic button:hover { background:#daae6c; }
.game-alert .alert-border .alert--basic button.close-bottom {  margin-top: 2%;}

.game-alert .alert-border { display:none; }
.game-alert .alert-play-manual {width: 70%; margin-left: -35%;top: 35%; font-family: 'Noto Sans KR', 'notokr-regular';word-break: keep-all;}
.game-alert .alert-before-go-sailing { width: 70%; margin-left: -35%;top: 35%; font-family: 'Noto Sans KR', 'notokr-regular';word-break: keep-all;
background: url("../img/bottom-option-panel-back-2.png") no-repeat; background-size: 100% 100%;}
.game-alert .alert-border .alert--special { padding: 7%;text-align: center;}
.panel-block {cursor: default; pointer-events: none;  }

.inside-building{ position: absolute; top:0; left:0; z-index:999; display:none; background:#111;width:100%; height:100%; }
.inside-building .building-wrap { width:100%; height:100%; position: relative; }
.inside-building .building-wrap .background { position: absolute; top:0; left:0; width:100%; height:100%;  }
.inside-building .building-wrap .background .background-b2{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b2-background.png") no-repeat; background-size: 100% auto; background-position: top center;  }
.inside-building .building-wrap .background .background-b3{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b3-background.png") no-repeat; background-size: 100% auto; background-position: top center;  }
.inside-building .building-wrap .background .background-b4{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b4-background-2.png") no-repeat; background-size: 100% auto; background-position: top center;  }
.inside-building .building-wrap .background .background-b5{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b5-background.png") no-repeat; background-size: 100% auto; background-position: top center;  }
.inside-building .building-wrap .background .background-b6{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b6-background.png") no-repeat; background-size: 100% auto; background-position: top center;  }
.inside-building .building-wrap .background .background-b7{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b7-background.png") no-repeat; background-size: 100% auto; background-position: top center;  }
.inside-building .building-wrap .background .background-b8{  position: absolute; top:0; left:0; width:100%; height:100%; background: url("../img/b8-background.png") no-repeat; background-size: 100% auto; background-position: top center;  }



.inside-building .building-wrap .npc-panel{ width:100%; box-sizing:border-box; padding:5%;height:55%;  }
.npc-panel .npc-chat-box-holder { width: 65%; position: relative; left:35%; }
.npc-panel .npc-chat-box-holder .npc-holder { position: absolute; left: -60%; width: 65%; opacity:0;}
.npc-panel .npc-chat-box-holder .npc-holder .npc-thumbs {width:100%;}
.npc-panel .npc-chat-box-holder .npc-holder .npc-thumbs img {width: 100%; display: block;}
.npc-panel .npc-chat-box-holder .npc-holder .npc-name { box-sizing: border-box; padding: 10%; background: url("../img/panel-back.png") no-repeat;
width:110%; bottom: -5%; left:5%; background-size: 100% 100%;position: absolute; }
.npc-panel .npc-chat-box-holder .npc-holder .npc-name p {  text-align: center;}
.inside-building .chat-box { opacity:0; width: 100%; background: url("../img/alert-back.jpg") no-repeat; background-size: 100% 100%;position: relative;box-sizing:border-box; padding:5%;}
.inside-building .chat-box p { font-size: 1.1rem;line-height: 1.8rem;margin: 0.5rem auto;word-break: keep-all;text-shadow: 1px 1px 1px rgb(255 255 255 / 50%);}
.inside-building .chat-box .chat-bottom-btn { display:none; position: absolute; bottom: 10%; right: 5%; color: #743e00; width:15%;  text-align: right;cursor: pointer; animation: next 1s linear infinite normal;    box-sizing: border-box;padding: 2%;}
.inside-building .chat-box .chat-bottom-btn span {margin-right: 5%;  display: inline-block; width: 30%; }
.inside-building .chat-box .chat-bottom-btn span img { width: 100%;vertical-align: middle;}
.inside-building .chat-box .chat-bottom-btn:hover { background: #d9c697;}

.inside-building .chat-box p { font-family: 'Noto Sans KR', 'notokr-regular'; font-weight: 500; }
.inside-building .chat-box .exit-building-btn {width: 20%;}

.npc-panel .chat-box {position: relative;padding: 5% 8%;}
.user-panel { position: absolute; bottom: 0%; left:0%; width:100%; height:35%;}
.user-panel .chat-box {  width: 80%; height: 85%; margin: 0 auto;box-sizing: border-box;  padding: 5%;}
.user-panel .chat-box .typed-holder { width:100%; }
.user-panel .chat-box .typed-holder p  { width:100%; font-size: 1.2rem; line-height: 1.8rem; }
.building-exit {cursor: pointer;position: absolute; bottom: 5%; left: -10%; width: 100%; display:none;  }
.exit-panel {  box-sizing: border-box; padding: 10%; background: url("../img/panel-back.png") no-repeat;width:100%; background-size: 100% 100%;}
.exit-panel p {font-size: 1rem; text-align: center;  box-sizing: border-box;padding: 10%;}
.building-exit:hover { left: -5%;} 



.typed-cursor{display:none;}

.inside-building .chat-box .user-chat-select { display:none; position: absolute; width:100%; bottom: 15%; left:0; }
.user-chat-select ul { width: 100%; position: relative; box-sizing: border-box; padding: 0 5%; overflow:hidden; }
.user-chat-select ul li {font-size: 0.9rem; padding: 2% 0; float:left; height:3rem; width:48%; margin:1%; box-sizing: border-box; padding: 2%;background: #e4bc81;    box-shadow: 2px 2px 0px #7f4c00;cursor: pointer; color: #111;font-size: 1rem;   letter-spacing: -0.07rem; text-align: center;}
.user-chat-select ul::after { clear: both; content:""; display:block; }
.user-chat-select ul li:hover { background: #d6a65f; transform: translate(1px, 1px);}

.alert-exit-building button {display: inline-block;  width: 48%; margin: 2% 1%;}
.alert-exit-building button::after { clear: both; content:""; display:block; }

.user-select-preview{ width:100%; display:none; position: absolute; top: 15%;}
.user-select-preview-left{ left: -4%; }
.user-select-preview-right{ right:-4%;}
.user-select-preview .select-preview-panel {width: 100%;}
.user-select-preview .select-preview-panel ul { width:100%; }
.user-select-preview .select-preview-panel ul li { position: relative; width: 100%; height: 200px;overflow: hidden; margin: 4% 0; background: url("../img/item-back.png") no-repeat; background-size: 100% 100%;box-sizing: border-box; padding: 7%;}
.user-select-preview .select-preview-panel ul li .opt-thumbs { width: 30%; margin: 5% auto;  }
.user-select-preview .select-preview-panel ul li .opt-thumbs img { width:100%;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;  }
.user-select-preview .select-preview-panel ul li .opt-name { text-align: center;font-size: 0.9rem;  word-break: keep-all; color: #521b0d; box-sizing: border-box;  padding: 0% 4%;margin-top: 5%;}
.user-select-preview .select-preview-panel ul li .opt-desc { font-size: 0.8rem; font-family: 'Noto Sans KR', 'notokr-regular';  box-sizing: border-box;  padding: 1% 5%;}
.user-select-preview .select-preview-panel ul li .desc-more-btn{position: absolute;bottom: 0%; right: 0%; font-size: 0.8rem;display: inline;box-sizing: border-box;padding: 2%;cursor: pointer; background: #e4bc81;  color: #111; border: 1px solid #111;}
.user-select-preview .select-preview-panel ul li .desc-more-btn:hover { background: #d6a65f;}

.item-more-info-layer { display:none; width:100%; height:100%; z-index: 999;position: absolute; top: 0; left:0;background: rgba(0,0,0,0.5);  backdrop-filter: blur(2px); }
.item-more-info-layer .info-panel { position: absolute;width: 80%; left: 10%; top: 20%; background: url("../img/info-panel-back-big.png") no-repeat; background-size: 100% 100%;border: 2px solid #392200;box-shadow: 5px 5px 20px rgb(0 0 0 / 50%);}
.info-panel-inner-wrap { width:100%; box-sizing:border-box; padding: 5%; } 
.item-more-info-layer .info-panel .thumbs {width: 10%;  margin: 0% auto;margin-bottom: 3%;}
.item-more-info-layer .info-panel .thumbs img { width:100%;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;  }
.item-more-info-layer .info-panel .name { text-align: center;font-size: 1.2rem; color: #521b0d;  box-sizing: border-box;  padding: 0% 4%;}
.item-more-info-layer .info-panel .desc {font-size: 1rem; font-family: 'Noto Sans KR', 'notokr-regular';  box-sizing: border-box;  padding: 3% 4%;
background: rgb(255 255 255 / 50%);  margin-top: 10px;}
.item-more-info-layer .info-panel .info-layer-close {font-family: 'DungGeunMo', 'notokr-regular'; width: 30%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1rem; display: block;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 2%; margin: 2% auto 0px;}
.item-more-info-layer .info-panel .info-layer-close:hover { background:#daae6c; }

.quest-info-layer { display:none; width:100%; height:100%; z-index: 999;position: absolute; top: 0; left:0;background: rgba(0,0,0,0.5); }
.quest-info-layer .quest-info-panel  { position: absolute;width: 70%;  left:15%; top: 10%; background: url("../img/info-panel-back-big.png") no-repeat; background-size: 100% 100%; box-shadow: 5px 5px 20px rgb(0 0 0 / 50%);box-sizing:border-box; }
.quest-info-layer .quest-info-panel .quest-wrapper { width:100%; position: relative; box-sizing:border-box; padding: 7%;}
.quest-info-layer .quest-info-panel .quest-wrapper .quest-title { font-size: 1.3rem;text-align: center; }
.quest-info-layer .quest-info-panel .quest-wrapper > img { width:50%; margin: 2% auto; display:block; border-radius: 5%; } 
.quest-info-layer .quest-info-panel .quest-wrapper .quest-desc { font-size: 1.15rem; font-family: 'Noto Sans KR', 'notokr-regular';  box-sizing: border-box; padding: 1% 0%; }
.quest-info-layer .quest-info-panel .quest-wrapper .quest-desc p {  margin: 2% 0; }
.quest-info-layer .quest-info-panel .quest-info-close { position: relative; width: 100%; }
.quest-info-layer .quest-info-panel .quest-info-close  button{ font-family: 'DungGeunMo', 'notokr-regular'; width: 30%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1rem; display: block;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 3%; margin: 2% auto 0px;}
.quest-info-layer .quest-info-panel .quest-info-close  button:hover { background:#daae6c; }


.minimap-layer { display:none; width:100%; height:100%; z-index: 999;position: absolute; top: 0; left:0;background: rgba(0,0,0,0.5); }
.minimap-layer .minimap-panel { position: absolute;width: 100%; height: 100%; left:0%; top: 0%; background: url("../img/info-panel-back-big.png") no-repeat; background-size: 100% 100%; box-shadow: 5px 5px 20px rgb(0 0 0 / 50%);
box-sizing:border-box; }
.minimap-layer .minimap-panel .minimap-wrapper { width:90%; position: relative; margin: 5% auto;
border-radius: 2%;box-sizing: border-box; overflow: hidden;background: #1e0e00;}
.minimap-layer .minimap-panel .minimap-wrapper img.minimap-img { width:100%;position: relative;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none; }
.minimap-layer .minimap-panel .minimap-wrapper .user-minimap { position: absolute; width: 2%; top: 50%;left: 50%; animation: jump 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;}
.minimap-layer .minimap-panel .minimap-wrapper .user-minimap .user-icon { width: 100%; height:15px; background: #ebff00;    border-radius: 50%; }
.minimap-layer .minimap-panel .minimap-wrapper .user-minimap > p {text-align: center;  text-shadow: 1px 1px 1px #000; font-size: 1rem;color: #fff; }
.minimap-layer .minimap-panel .minimap-close { position: absolute; bottom: 0; left: 0; width: 100%; }
.minimap-layer .minimap-panel .minimap-close button{ font-family: 'DungGeunMo', 'notokr-regular'; width: 30%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1rem; display: block;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 3%; margin: 2% auto 0px;}
.minimap-layer .minimap-panel .minimap-close button:hover { background:#daae6c; }

@keyframes jump {
	0% { transform: translate(0, 0px); }
	70% {transform: translate(0, -8px); }
	80% {transform: translate(0, 0px); }
	100% {transform: translate(0, 0px); }
}
 
.sailing-scene { width:100%; height:100%; z-index: 999;position: absolute; top: 0; left:0;background: #111; display:none;}
.sailing-scene-wrap {width:100%; height:100%;position: relative; }
.sailing-scene-wrap .ocean-back { width:100%; height:100%; position: absolute; top:0; left:0; background: url("../img/sailing-back.png") no-repeat; background-size: cover; }
.sailing-scene-wrap .user-boat { width: 30%; position: absolute; bottom: 40%; left:80%;}
.sailing-scene-wrap .user-boat img {animation: wave 3s 0.4s infinite linear; }
.sailing-scene-wrap .ocean-wave { width: 100%; height:50%; bottom: 0; left:0;position: absolute;}
.sailing-scene-wrap .ocean-wave img { width:120%; position: relative; left:-10%; top:0;animation: wave 3s 0s infinite linear;}
@keyframes wave {
	0%{ 
	-webkit-transform:rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg);
	transform:rotateZ(0deg) translate3d(0,2%,0) rotateZ(0deg)
	}
	
	100%{
	-webkit-transform:rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg);
	transform:rotateZ(360deg) translate3d(0,2%,0) rotateZ(-360deg)
	}
}


.arriving-scene { width:100%; height:100%; z-index: 999;position: absolute; top: 0; left:0;background: #111; display:none;}
.arriving-scene-wrap {width:100%; height:100%;position: relative; }
.arriving-scene-wrap .arriving-back { width:100%; height:100%; position: absolute; top:0; left:0; background: url("../img/arriving-back-sq.png") no-repeat; background-size: cover;background-position: center; }
.arriving-scene-wrap .arriving-user-boat { width: 100%; position: absolute; bottom: 0; left:0;}
.arriving-scene-wrap .arriving-user-boat img {width:120%; position: relative; left:-10%; animation: wave 4s 0.4s infinite linear; }
.arriving-scene-wrap .arriving-people { position: absolute; width: 80%; left:10%; bottom: 50%; }
.arriving-scene-wrap .arriving-people img { width: 100%;}
.arriving-scene-wrap .go-ending-page-btn {  position: absolute; bottom: 5%; right:5%; width: 30%; }
.arriving-scene-wrap .go-ending-page-btn button { font-family: 'DungGeunMo', 'notokr-regular'; width: 100%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1.5rem; display: none;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 10%;}
.arriving-scene-wrap .go-ending-page-btn button:hover { background:#daae6c; }
.firework { position: absolute; width: 20%; }
.firework img { width:100%; }
.fw-01 { top: 12%; left: 10%; }
.fw-02 { top: 5%; right: 10%; }
.fw-03 { top: 7%; left:20%; }
.fw-04 { top: 15%; right: 2%;}
.fw-05 { top: 2%; right: 30%; }
.fw-06 { top: 2%; left:35%; }


.ending-stage { width:100%; height:100%; z-index: 999;position: absolute; top: 0; left:0;background: #111; display:none; }
.ending-stage-wrap {width:100%; height:100%;position: relative; }
.ending-stage-wrap .ending-stage-back { width:100%; height:100%; position: absolute; top:0; left:0; background: url("../img/opening-stage-each-party.png") no-repeat; background-size: cover;background-position: center;opacity: 0.4;  }
.ending-stage-wrap .user-result-panel {  position: relative;  width: 100%; box-sizing: border-box;  padding: 3% 0%;}
.user-result-panel .user-matched-candidate {max-width: 80%; margin: 0 auto;}
.user-result-panel .user-matched-candidate .desc-para-box {width: 100%;background: url("../img/info-panel-back-widever.jpg") no-repeat;background-size: 100% 100%; box-sizing: border-box; background-position: center;  padding: 3%;}
.user-result-panel .user-matched-candidate .desc-para-box .para-holder {font-family: 'Noto Sans KR', 'notokr-regular';font-size: 1.2rem; line-height: 2rem; text-align: center;}
.user-result-panel .user-matched-candidate .desc-para-box .para-holder p {margin: 1% 0; }
.user-result-panel .user-matched-candidate .desc-para-box .para-holder p span.strong { font-weight:bold; background: rgba(255,255,255,0.5);box-sizing: border-box;  padding: 1px 6px; border-radius: 5px;}

.cand-matched-info { display:none; width: 60%;background: url("../img/ending-result-back.png") no-repeat; /* background: url("../img/info-panel-back-big.png") no-repeat; */background-size: 100% 100%; box-sizing: border-box; background-position: center;  padding: 5% 3%; margin: 0 auto;
 top: -15px; position: relative;}
.cand-info-box { position: relative;top: -30px;opacity: 0;  }
.matched-candidate-info {  width: 100%; margin: 0 auto;position: relative; ;left: -5%;text-align: center;}
.cand-thumb-box { display: inline-block;  position: relative; width: 10rem; height: 10rem; overflow: hidden;background: url("../img/item-back.png") no-repeat;background-size: 100% 100%;}
.cand-thumb-box .thumb-img { width: 100%; position: relative;padding-top: 10%; }
.cand-thumb-box .thumb-img img { width: 70%; margin: 0 auto;  /* mix-blend-mode: darken; */ }
.cand-thumb-box .nametag { position: absolute; font-family: 'Noto Sans KR', 'notokr-regular'; top: 15px; left: 0px; background: #191006; color: #fff; font-size: 1.2rem; box-sizing: border-box; padding: 3% 6%; }
.cand-match-score {display: inline-block;vertical-align: bottom; }
.cand-match-score p { font-size: 2.3rem; font-family: 'Noto Sans KR', 'notokr-regular';color: #111;font-weight: bold; text-shadow: 2px 2px 0px #fff8f3;}
.cand-match-score p .score-value { font-family: 'DungGeunMo', 'notokr-regular'; font-size: 4rem;}
.matched-candidate-info .cand-match-score p .score-value { color:#610f00;    font-style: italic;}
.other-candidate-score-list { width: 100%; margin-top: 4%; }
.other-candidate-score-list ul { width: 100%;    max-width: 70%; position: relative;overflow: hidden;text-align: center; margin: 0 auto;}
.other-candidate-score-list ul::after { clear: both; content:""; display:block; }
.other-candidate-score-list ul li {  width: 33%;  float: left;}
.other-candidate-score-list ul li .other-candidate-info {}
.other-candidate-info .cand-thumb-box { width: 7rem;height: 7rem; background: url("../img/square-back-gray.png") no-repeat;background-size: 100% 100%;}
.other-candidate-info .cand-thumb-box .nametag { top:0; font-size: 1rem;} 
.other-candidate-info .cand-match-score { display: block; }
.other-candidate-info .cand-match-score p {font-size: 1.1rem;}
.other-candidate-info .cand-match-score p .score-value {font-size: 1.5rem;}


.bottom-game-button-panel {    position: absolute;  bottom: 0;  left: 0; width: 100%; box-sizing: border-box; padding: 0% 5%; padding-bottom: 2%;}
.button-col-2 {width: 100%;position: relative; }
.button-col-2 button { font-family: 'DungGeunMo', 'notokr-regular';background: #e4bc81; cursor: pointer;color: #111;font-size: 1.3rem; letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 2%;} 
.bottom-game-button-panel .replay-game { float: left; background: #d7d0c5;}
.bottom-game-button-panel .go-to-candidates-page { float: right;}

.screen-bottom-panel { display:none; }
.select-history-back{ display:none; }
.quest-info{ display:none; }
.building-exit-mobile { display:none; }
.opt-full-desc-mobile-layer {  display:none; }




/*---------------------------------------*/
/******* 전체 기본 CSS - 모바일 기준*******/
/************* 2021.12 YJ **********--***/
/*---------------------------------------*/

/***** 노트북 *****/
@media screen and (max-width: 1550px) {


}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {
body { width:100%; height:100%; }
.loading-gif { top: 35%; }
.interactive-header { height: 35px;padding: 0px 5px; background:#111; }
.interactive-header .khan_btn img { width: 70px; }
.interactive-header .page-title{ line-height: 30px;}
.after-load { width:100%; height:100%; }
.container { width: 100%; height: 100%;overflow-x: hidden; }

.opening-back{ background-position: top center;}
.game-title-holder{width: 75%;}
.btn-holder .btn { width: 50%; font-size: 2rem; padding: 4% 0; }

.opening-stage-back {background-position: top center; }
.opening-stage-el { top: 10%; }
.ment-box {width: 90%; left: 0; margin-left: 5%;}
.ment-box .box-inner .box-txt p {font-size: 1.8rem;line-height: 2.6rem; font-family: 'Noto Sans KR'; font-weight: bold; }
.opening-stage-el--02{ top: 40%;}
.make-id{ width: 90%; max-width: inherit; padding: 4%; }
.make-id .chat-input-txt{font-size: 1.8rem;line-height: 2.6rem;}
.make-id .confirm-btn { font-size: 1.8rem; }
.main-stage-wrapper{  width: 100%; height: 100%; position: relative; box-sizing: border-box; }

.main-stage{  box-sizing: border-box;padding-top: 35px;}
.game-alert { position: fixed; }
.game-alert .alert-border {width: 90%; left: 5%; margin-left: 0; top: 20%; font-size: 1.7rem; line-height:2.1rem;}
.game-alert .alert-border .alert--basic { padding: 30px; }
.alert-play-manual {font-family: 'Noto Sans KR'; }
.game-alert .alert-border .alert--basic button{ margin-top:20px;font-size: 1.4rem; }


.screen-bottom-panel { display:block; } 
.game-frame{ z-index:1;}
.frame-left img{ width: 6px; }
.frame-right img{ width: 6px; }
.screen-left-panel{ z-index:11; }
.screen-right-panel{z-index:11; }
.map-info { width: 100px; position: relative;left: -5px;margin-top: 5px; }
.map-panel{ padding: 20px;}
.map-panel > img { width: 50%;}
.map-panel > p { margin-top: 5px;font-size: 1.4rem;}


.sound-panel p span { font-size: 1.4rem;    padding: 3px;}
.location-info{  margin-top: 10px; width: 120px; right: -10px;}
.flag-panel .position-top { font-size: 1.4rem; }
.flag-panel .position-bottom{ font-size: 1.4rem;  font-weight: bold;  margin-top: 5px;}
.game-opt-setting { bottom: 10px; left: -5px;}

.quest-info { display:block;width: 100px; position: relative; right: -20px; margin-top: 5px;} 
.quest-info .quest-panel {box-sizing: border-box; padding: 10%; background: url("../img/position_back.png") no-repeat;width:100%; background-size: 100% 100%;}
.quest-info .quest-panel p {font-size: 1.4rem; text-align: left; } 

.select-history { display: none;  }
.keyboard-holder{ display: block; padding: 20px 0; width: 190px; margin: 0 auto;}
.keyboard-holder .keyboard-1 { margin-bottom: 5px; }
.keyboard-holder .keyboard-2 {  }
.keyboard-holder .keyboard-2::after { clear: both; content:""; display:block; }
.key-up { margin: 0 auto; }
.key-up img { display: block; margin: 0 auto;}
.key-left { float: left; }
.key-down {float: left;  margin-right: 5px; margin-left:5px  }
.key-right{ float: left;}
.key-btn { width: 60px; cursor: pointer; }
.key-btn img { width: 100%; position: relative; top: 0; left: 0; width: 60px;height: 60px;}

.select-history-back{  position: absolute;top: 0;left: 0;  width: 100%; height: 100%; z-index: 12; background: rgba(0,0,0,0.3);  }
.select-history{ z-index:13; bottom: auto; top: 0%; width: 300px;left: auto; right:0px; height: 100%;}
.history-panel{ width:100%;}
.select-history .history-panel{ padding:10px; width:100%;}
.select-history .index-number {padding: 10px;padding-right: 10px; font-size: 2rem;}
.select-history .index-number .now { font-size: 2.5rem;}
.select-history h3 {  font-size: 1.6rem;  margin-bottom: 10px;    margin-top: 10px;}     
.select-history ul li {font-family: 'Noto Sans KR';font-weight: 500; font-size: 1.5rem;margin: 5px 0; padding: 6px 10px; background: rgba(255,255,255,0.5); border-radius: 8px;}
.select-history ul li:hover{ background: rgba(255,255,255,0.5);} 
.quest-list-close { margin-top: 10px; }
.select-history .history-panel .quest-list-close button{ font-family: 'DungGeunMo', 'notokr-regular'; width: 30%; background: #e4bc81; cursor: pointer;color: #111;font-size: 1rem; display: block;  letter-spacing: -0.07rem; text-align: center; padding: 3%; margin: 20px auto;}
.quest-info-layer .quest-info-panel{ width: 90%; left: 5%; top: 5%;}
.quest-info-layer .quest-info-panel .quest-wrapper { padding: 20px; }
.quest-info-layer .quest-info-panel .quest-wrapper > img { width: 40%;}
.quest-info-layer .quest-info-panel .quest-wrapper .quest-title { font-size: 1.8rem;}
.quest-info-layer .quest-info-panel .quest-wrapper .quest-desc { font-size: 1.6rem;}
.quest-info-layer .quest-info-panel .quest-wrapper .quest-desc p { margin: 10px 0; }
.quest-info-layer .quest-info-panel .quest-info-close button { margin-top: 0;}

.game-screen-square-holder { z-index:1; }
.screen-bottom-panel{  z-index: 2;  position: relative;}


.inside-building .chat-box p { font-size: 1.6rem; line-height: 2.1rem; 
-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.user-panel .chat-box .typed-holder p {font-size: 1.6rem; line-height: 2.1rem;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.npc-panel .chat-box { top: 40px; }
.inside-building .building-wrap .npc-panel { padding: 10px;}
.npc-panel .npc-chat-box-holder {width: 70%;left: 30%;}
.npc-panel .npc-chat-box-holder .npc-holder .npc-name {width: auto; padding: 15px 20px;}
.npc-panel .npc-chat-box-holder .npc-holder .npc-name p { font-size: 1.5rem;}
.npc-panel .npc-chat-box-holder .npc-holder {left: -45%;}
.inside-building .chat-box .user-chat-select {    bottom: 10px;}
.user-chat-select ul {padding: 0px 15px;}

.bottom-option-panel-holder { display:none; width:100%; transition:all 0.4s ease 0s; position: relative; top: 0;}
.bottom-option-panel-holder .bottom-option-panel { width: 95%;padding: 10px 15px; box-sizing: border-box; margin: 0 auto; background: url("../img/bottom-option-panel-back-2.png") no-repeat; background-size: 100% 100%; position: relative;}
.bottom-option-panel-holder .bottom-option-panel h3 {  text-align: center; font-size: 1.6rem; margin-bottom: 10px; }
.bottom-option-panel .user-select-preview { width:100%;position: relative; }
.bottom-option-panel .user-select-preview ul { width:100%;    position: relative; }
.bottom-option-panel .user-select-preview ul li {  width: 23%; margin: 0 1%; float: left;  padding: 10px 5px; height: auto;min-height: 80px;display: flex;align-items: center;flex-wrap: nowrap; align-content: center; justify-content: center;flex-direction: column;}
.bottom-option-panel .user-select-preview ul::after { clear: both; content:""; display:block; }
.bottom-option-panel .user-select-preview .select-preview-panel ul li .opt-thumbs { width: 30px; }
.bottom-option-panel .user-select-preview .select-preview-panel ul li .desc-more-btn { display:none;}
.bottom-option-panel .user-select-preview .select-preview-panel ul li .opt-desc { display:none;}
.bottom-option-panel .user-select-preview .select-preview-panel ul li .opt-name { font-size: 1.45rem;padding: 0;margin-top: 0px;}
.show-more-desc-mobile { width:100%; margin-top: 10px; }
.show-more-desc-mobile button { font-family: 'DungGeunMo', 'notokr-regular'; width: 30%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1.5rem; display: block;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 10px; margin: 2% auto 0px;}
.building-exit-mobile { display:block; cursor: pointer;position: absolute; top: -5px; left: auto; right: -5px; width: 80px; } 
.building-exit-mobile .exit-panel {  box-sizing: border-box; padding: 15px 5px; background: url("../img/panel-back.png") no-repeat;width:100%; background-size: 100% 100%;}
.building-exit-mobile .exit-panel p {font-size: 1rem; text-align: center;  box-sizing: border-box;padding: 0;}

.opt-full-desc-mobile-layer { display:none; position: fixed; top: 0; left: 0;  width: 100%;  height: 100vh; z-index: 9999; background: rgba(0,0,0,0.3); backdrop-filter: blur(2px);}
.opt-full-desc-panel { width: 100%; height:100%; background: url("../img/mobile-full-desc-back.png") no-repeat;  position: relative; background-size: 100% 100%; padding: 15px 25px; box-sizing: border-box; margin: 0 auto;overflow-x: hidden; overflow-y: scroll;}
.opt-full-desc-panel .each-opt-desc-list { width:100%; height:inherit; }
.opt-full-desc-panel .each-opt-desc-list h4 { text-align: center; font-size: 1.6rem; margin-bottom: 10px; }
.opt-full-desc-panel .each-opt-desc-list ul { width:100%; pointer-events: none;}
.opt-full-desc-panel .each-opt-desc-list ul li { margin: 10px auto; width:100%; border-bottom: 2px dashed #bb9e8d; cursor: default; }
.opt-full-desc-panel .each-opt-desc-list ul li .inner-wrap { width:100%;padding: 15px 0;box-sizing:border-box;  }
.opt-full-desc-panel .each-opt-desc-list ul li .inner-wrap .thumbs { width: 70px;margin: 0 auto;  margin-bottom: 10px; }
.opt-full-desc-panel .each-opt-desc-list ul li .inner-wrap .thumbs img {width:100%;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none;  }}
.opt-full-desc-panel .each-opt-desc-list ul li .inner-wrap .name {text-align: center;font-size: 1.8rem; color: #521b0d;  box-sizing: border-box;  padding: 0 5px;}
.opt-full-desc-panel .each-opt-desc-list ul li .inner-wrap .desc-full {} 
.opt-full-desc-panel .each-opt-desc-list ul li .inner-wrap .desc-full p {font-family: 'Noto Sans KR', 'notokr-regular';font-size: 1.8rem;  box-sizing: border-box; padding: 10px 0px;}
.opt-full-desc-mobile-exit{ margin-top: 20px;     padding-bottom: 30px;}
.opt-full-desc-mobile-exit button {font-family: 'DungGeunMo', 'notokr-regular'; width: 50%; background: #e4bc81; cursor: pointer;color: #111;
font-size: 1.5rem; display: block;  letter-spacing: -0.07rem; text-align: center; border-width: 1px solid #111; padding: 10px; margin: 2% auto 0px;}
.opt-full-desc-panel .each-opt-desc-list ul li.last { border-bottom: 0px; }
.opt-full-desc-panel .each-opt-desc-list ul{pointer-events: auto;}
.opt-full-desc-panel .each-opt-desc-list ul.clickable li { cursor: pointer; }
.bottom-option-panel-holder.up { position: relative;  top: -100px;  box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);}

   


}



@media( orientation: portrait ){
/*     html {
      transform: rotate(-90deg);
      transform-origin: top left;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vh;
      height: 100vw;
    } */

}

/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}


/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


}


/* IE9,10 */
@media screen and (min-width:0\0){


}

/* IE6,7,8 */
@media \0screen\,screen\9 {


}


